[user]
  name = kadekillary
  email = kadekillary@pm.me
[core]
  excludesfile = ~/.gitignore_global
  editor = nvim
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  navigate = true
  dark = true
  line-numbers = true
  side-by-side = true
[merge]
  conflictstyle = zdiff3
[diff]
  colorMoved = default
  algorithm = histogram
[commit]
  template = ~/dippin-dots/git/.gitmessage
[color]
  ui = auto
[github]
  user = kxzk
[pager]
	branch = false
[init]
  defaultBranch = main
[fetch]
  prune = true
  prunetags = true
[pull]
  rebase = true
[push]
  autoSetupRemote = true
  default = current
[rebase]
  autoStash = true
  autoSquash = true
[rerere]
  enabled = true
[branch]
  sort = -committerdate
[column]
  ui = auto
[alias]
  amend = commit --amend
  bd = branch -D
  bl = "branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate"
  ci = commit
  find = "log --pretty='format:%Cgreen%H %Cblue%s' --name-status --grep"
  gone = !git fetch -p && git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D
  hard = reset --hard HEAD~1
  last = log -1 HEAD
  lg = "log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'"
  merged = !git branch --merged main | grep -v '^*' | grep -v 'main' | xargs git branch -d
  pf = push --force-with-lease
  rank = shortlog -sne --no-merges
  rankfile = shortlog -sne
  soft = reset --soft HEAD~1
  ss = status --short
  sw = switch
  unstage = reset HEAD --
  delete-merged = "!git fetch -p && git branch -r --merged origin/main | grep -v 'main\\|master\\|HEAD' | sed 's/origin\\///' | xargs -I {} git push origin --delete {}"
  fixup = commit --fixup
  wip = !git add -A && git commit -m 'wip'
  unwip = reset HEAD~1
